<div class="container-fluid text-center" id="Pagina">
  <div *ngIf="caricamentoPage==true">
    <h1 class="p-auto">Caricamento Task</h1>
    <div id="ruota">
      <b>{{carica}}</b>
      <p>----------</p>
    </div>
  </div>
  <div *ngIf="caricamentoPage==false">
    <h1>Completati</h1>
    <h3 *ngIf="taskcompleti<0">Non hai completato alcun task</h3>
    <table class="container text-center border rounded-pill">
      <tr *ngFor="let item of lista">
          <th *ngIf="item.completed==true">
              <i>--Completato--</i> <span class="text-success">{{item.title}}</span>
              <button class="btn btn-danger" id='{{item.id}}' (click)="rimozione(item.id)" [disabled]="controllo">X</button>
          </th>
      </tr>
    </table>
  </div>
</div>

